/* General */
:root{
    --black: #000000;
    --orange: #CD3D0F;
    --light-blue: #0072CE;
    --grey: #727272;
    --dark-grey: #1F1F1F;
    --light-grey: #BEBCBB;
    --dark-blue: #161C3B;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.col-md{
    flex: 1 0 0%;
}

/* Header */
.header-top{
    width: 100%;
    height: 30px;
    background-color: var(--black);
}
.header-top img{
    height: 60%;
}
form i{
    font-size: 25px;
    line-height: 66px;
    margin-left: 30px;
}
/* Main */
#jumbotron{
    width: 100%;
    /* height: 70vh; */
    margin-top: 96px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}
#jumbotron .card{
    width: 100%;
    padding-top: 240px;
    background-color: transparent;
}
#jumbotron .card-title{
    font-size: 40px;
    padding-bottom: 30px;
}
#jumbotron .card img{
    width: 60%;
}
#jumbotron .card button{
    background-color: var(--orange);
}
#playstation5 .img-wrapper{
    margin-top: 30px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 60px ;
}
#playstation5 .text .blue{
    color: var(--light-blue);
    text-transform: uppercase;
    margin-bottom: 0;
}
#playstation5 .text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#playstation5 .text .grey{
    color: var(--grey);
    font-size: 22px;
}
#playstation5 button, #explore button{
    background-color: var(--light-blue);
    border: 0;
}
#takestwo{
    width: 100%;
    margin-top: 96px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}
#takestwo .card{
    width: 100%;
    padding-top: 40px;
    background-color: transparent;
    padding-top: 30px;
}
#takestwo .card-title{
    font-size: 40px;
    padding-bottom: 30px;
}
#takestwo .card img{
    width: 60%;
}
#takestwo .card button{
    background-color: var(--orange);
}
#new-games{
    background-color: var(--dark-grey) ;
    padding-bottom: 40px;
}
#new-games .card, #explore .card, #plus .card, #now .card{
    border: 0;
    background-color: transparent;
}
#new-games .card img{
    border-radius: 20px;
}
#new-games .text{
    padding-top: 30px;
    font-size: 26px;
}
#new-games .text h2{
    font-size: 30px;
    padding-bottom: 10px;
}
#explore{
    padding-bottom: 40px;
}
#explore .text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#explore .text .grey{
    color: var(--grey);
    font-size: 20px;
}
#plus{
    background-color: var(--light-grey);
}
#plus .card-body{
    padding: 0;
    padding-bottom: 20px;
}
#plus .card img{
    width: 60%;
    padding: 20px 0;
}
#plus .card-text{
    font-size: 16px;
    padding-bottom: 10px;
}
#plus button{
    background-color: #D9DADC;
    color: var(--light-blue);
    border: 0;
}
#plus .hidden-img{
    display: none;
}
#store{
    margin-bottom: 50px;
}
#store .text h2{
    font-size: 42px;
    padding-top: 60px;
    padding-bottom: 10px;
}
#store .text .grey{
    font-size: 24px;
    color: var(--grey);
    padding-bottom: 10px;
}
#store img{
    margin: 20px 0;
}
#now{
    background-color: var(--dark-blue);
}
#now .card-body{
    padding: 0;
    padding-bottom: 20px;
}
#now .card img{
    width: 60%;
    padding: 20px 0;
}
#now .card-text{
    font-size: 16px;
    padding-bottom: 10px;
}
#now button{
    background-color: #ffffff;
    color: var(--black);
    border: 0;
}
#now .hidden-img{
    display: none;
}
#social img{
    padding-bottom: 40px;
}
#social .text h2{
    padding: 60px 0;
    font-size: 36px;
}








/* media query */
@media screen and (min-width: 768px){
    #plus .hidden-img{
        display: block;
    }
    #now .hidden-img{
        display: block;
    }
}
@media screen and (min-width: 992px) {
    #jumbotron .card{
        width: 35%;
        padding-top: 240px;
        background-color: transparent;
    }
    #jumbotron .card-title{
        font-size: 40px;
        padding-bottom: 30px;
    }
    #jumbotron .card img{
        width: 60%;
    }
    #jumbotron .card button{
        background-color: var(--orange);
    }
    #takestwo .card{
        width: 40%;
        padding-top: 40px;
        background-color: transparent;
        padding-bottom: 30px;
    }
    #takestwo .card-title{
        font-size: 40px;
        padding-bottom: 30px;
    }
    #takestwo .card img{
        width: 60%;
    }
    #takestwo .card button{
        background-color: var(--orange);
    }
}