/* General */
:root{
    --black: #000000;
    --orange: #CD3D0F;
    --light-blue: #0072CE;
    --grey: #727272;
    --dark-grey: #1F1F1F;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */
.header-top{
    width: 100%;
    height: 30px;
    background-color: var(--black);
}
.header-top img{
    height: 60%;
}
form i{
    font-size: 25px;
    line-height: 66px;
    margin-left: 30px;
}
/* Main */
#jumbotron{
    width: 100%;
    /* height: 70vh; */
    margin-top: 96px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}
#jumbotron .card{
    width: 100%;
    padding-top: 240px;
    background-color: transparent;
}
#jumbotron .card-title{
    font-size: 40px;
    padding-bottom: 30px;
}
#jumbotron .card img{
    width: 60%;
}
#jumbotron .card button{
    background-color: var(--orange);
}
#playstation5 .img-wrapper{
    margin-top: 30px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 60px ;
}
#playstation5 .text .blue{
    color: var(--light-blue);
    text-transform: uppercase;
    margin-bottom: 0;
}
#playstation5 .text h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#playstation5 .text .grey{
    color: var(--grey);
    font-size: 22px;
}
#playstation5 button{
    background-color: var(--light-blue);
    border: 0;
}
#takestwo{
    width: 100%;
    margin-top: 96px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}
#takestwo .card{
    width: 100%;
    padding-top: 40px;
    background-color: transparent;
    padding-top: 30px;
}
#takestwo .card-title{
    font-size: 40px;
    padding-bottom: 30px;
}
#takestwo .card img{
    width: 60%;
}
#takestwo .card button{
    background-color: var(--orange);
}
#new-games{
    background-color: var(--dark-grey) ;
}
#new-games .card{
    border: 0;
    background-color: transparent;
}
#new-games .card img{
    border-radius: 20px;
}
#new-games .text{
    padding-top: 30px;
    font-size: 26px;
}
#new-games .text h2{
    font-size: 30px;
    padding-bottom: 10px;
}









/* media query */
@media screen and (min-width: 992px) {
    #jumbotron .card{
        width: 35%;
        padding-top: 240px;
        background-color: transparent;
    }
    #jumbotron .card-title{
        font-size: 40px;
        padding-bottom: 30px;
    }
    #jumbotron .card img{
        width: 60%;
    }
    #jumbotron .card button{
        background-color: var(--orange);
    }
    #takestwo .card{
        width: 40%;
        padding-top: 40px;
        background-color: transparent;
        padding-bottom: 30px;
    }
    #takestwo .card-title{
        font-size: 40px;
        padding-bottom: 30px;
    }
    #takestwo .card img{
        width: 60%;
    }
    #takestwo .card button{
        background-color: var(--orange);
    }
}